version: '3.8'

services:
  django:
    build:
      context: ./apps/django
      dockerfile: Dockerfile
    image: helloworld-django:${DJANGO_VERSION:-latest}
    container_name: helloworld-django
    ports:
      - "8001:8001"
    restart: always

  springboot:
    build:
      context: ./apps/springboot
      dockerfile: Dockerfile
    image: helloworld-springboot:${SPRINGBOOT_VERSION:-latest}
    container_name: helloworld-springboot
    ports:
      - "8002:8002"
    restart: always

  rails:
    build:
      context: ./apps/rails
      dockerfile: Dockerfile
    image: helloworld-rails:${RAILS_VERSION:-latest}
    container_name: helloworld-rails
    ports:
      - "8003:8003"
    restart: always

  node:
    build:
      context: ./apps/node
      dockerfile: Dockerfile
    image: helloworld-node:${NODE_VERSION:-latest}
    container_name: helloworld-node
    ports:
      - "8004:8004"
    restart: always
